header{
    height: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px;
    
    .wrapper{
        display: flex;
        justify-content: space-between;
        gap: 36px;
        height: 100%;
        width: 100%;
        max-width: 1800px;
        margin: auto;
        padding: 0 36px;

        wrapper-logo{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                
            }
        }
    }
}
